pillow
torchvision==0.12.0
transformers==4.19.0
torch==1.13.1
tensorflow-cpu==2.10.0
onnxconverter-common==1.13.0
tf2onnx==1.13.0
tensorflow-text
keras-nlp==0.2.0
jax==0.2.10
jaxlib
flax==0.3.6
optax
